.list{
    font-size: 1.4rem;
    color: #e8e6e3;
    padding: 1px 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.list  a{
    box-sizing: border-box;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.active{
    background-color: #e8e6e3;
    color: #121212;
}

@media(max-width:56rem){
    .list{
        font-size: 1.2rem;
        color: #e8e6e3;
        height: 8vh;
        display: flex;
        justify-content: center;
    }
    
    .list  a{
        box-sizing: border-box;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
}