.parent {
    background-color: #CBC3E3;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.parent:hover{
    cursor: pointer;
}

.pcImg{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%)
}

.pcImg > img {
    height: auto;
    width: 100%;
}

.mobileImg{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.mobileImg > img {
    height: 100%;
    width: auto;
}

.projectTitle{
    position: relative;
    bottom: -102%;
    left: 2%;
}

.projectTitle h1{
    margin: 0;
    font-size: 1.5rem;
}

.description{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2rem;
}

.icon{
    z-index: 1;
}

.icon > img {
    height: auto;
    width: 100%;
}

@media(max-width:56rem) {
    .projectTitle h1{
        margin: 0;
        font-size: 1.2rem;
    }
}