.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5vh;
}

.form > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

input[name='user_name'],
input[name='user_email']{
    width: 15vw;
    margin-bottom: 4%;
    margin-right: 2vw;
    height: 4vh;
    background-color: #121212;
    border: 1px solid #e8e6e3;
    color: #e8e6e3;
    font-size: 1rem;
}

textarea[name="message"]{
    width: 33vw;
    margin-bottom: 2%;
    background-color: #121212;
    border: 1px solid #e8e6e3;
    color: #e8e6e3;
    padding-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
}

input[name='user_name']:focus,
input[name='user_email']:focus,
textarea[name="message"]:focus{
    box-shadow: 0px 0px 5px 1px #e8e6e3;
}

button[type="submit"]{
    padding: 10px 1.4rem;
    border-radius: 10px;
    border: 1px solid #121212;
    color: #121212;
    background-color: #e8e6e3;
    transition: 200ms;
}

button[type="submit"]:hover,
button[type="submit"]:active{
    cursor: pointer;
    border-radius: 14px;
    transition: 200ms;
}