.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1vw;
    top: 50vh;
    transform: translate(0%, -10%)
}

.parent > div {
    margin-bottom: 1rem ;
}