.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1vw;
    top: 40vh;
    height: fit-content;
    transform: translate(0%, -10%)
}

.parent > * {
    padding: 0.5rem;
}

@media(max-width:56rem) {
    .parent {
        display: none;
    }
}