.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 8vh 0;
}

.bio>div:nth-child(1) {
    width: 30%;
}

.bio>div:nth-child(2) {
    width: 45%;
}

.parent h3 {
    font-size: 2rem;
}

.parent p {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* @media(max-width:56rem) {
    .bio {
        flex-direction: column;
        margin: 5vh 0;
    }

    .bio>div:nth-child(1),
    .bio>div:nth-child(2) {
        width: 100%;
        margin-right: 10vw;
    }

    .parent h3 {
        font-size: 1.5rem;
    }

    .parent p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

@media(max-width:28rem) {
    .parent h3 {
        font-size: 1.5rem;
    }

    .parent p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
} */