.uni>div:nth-child(odd) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.uni>div:nth-child(even) {
    border-bottom: 1px solid #e8e6e3;
    width: 100%;
}

.uni>div>p:nth-child(1) {
    width: 60%;
}

.uni>div>p:nth-child(2) {
    width: 30%;
}

.uni>div>p:nth-child(3) {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
