.parent-shared {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e8e6e3;
    margin: 5vh 8vw;
}

.header-shared {
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-shared>h1 {
    margin: 0;
    margin: 4vh 0;
}

.header-shared>div:nth-child(2) {
    width: 100%;
    border: 1px solid #e8e6e3;
}

.children-shared-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.children-shared-column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
}

@media(max-width:56rem) {
    .header-shared>h1 {
        font-size: 2.5rem;
    }
}

@media(max-width:28rem) {
    .header-shared>h1 {
        font-size: 1.8rem;
    }
}